#!/bin/bash
#
# Centos/Redhat
# *************************************************
# chkconfig: 2345 99 99
# description: notify email address on system boot.
# *************************************************
# Debian/Ubuntu
### BEGIN INIT INFO
# Provides:          boot-notify
# Required-Start:    $local_fs
# Required-Stop:     $local_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: boot-notify
### END INIT INFO

PATH=/bin:/usr/sbin:/usr/bin:/sbin
SERVER=$(hostname)
case $1 in
    start)
        mailx {{ to_email }} -s "$SERVER Booted" -q <<EOF
$SERVER has booted up.
If this is news to you, please investigate.
`date`

IP Info:
`ip addr show | grep inet`
EOF
    ;;
esac
exit 0
